{%extends "layout.html"%}
{%block body%}
<div class="container m-3 d-flex justify-content-between">
    <div class="ms-3 p-5 w-50"> 
        <h1 >{{book.title}}'s Favorite books:</h1>
            <h6>Favorite by:</h6>
            <ul>
                {%for author in book.authors %}
                <li>{{author.name}}</li>
                {%endfor%}
            </ul>

    
    </div>
    <div class="ms-3 p-5 w-50">
        <form action="/books/add_fav_books" method="post">
        <h1 class="text-info">Add book's Favorite</h1>
        <input type="hidden" name="book_id" value="{{book.id}}">
        <div class="form-group">
            <label for="author_id" class="fs-5 mb-3">Author</label> 
            <select  class="form-select mb-3" name="author_id" id="author_id">
                <option selected><p>List of Authors</p></option>
                {%for author in unfavorited_author %}
                <option value="{{ author.id }}">{{author.name}}</option>
                {%endfor%}
            </select>
        </div>
        <input type="submit" class="btn btn-outline-primary">
        </form>
    </div>
    
</div>
<p class="m-5 ps-5"><a href="/authors" class='link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover'>Home</a></p>
{%endblock%}